---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import BentoGrid from '../components/BentoGrid.astro';
import Habilidades from '../components/Habilidades.astro';
import Contacto from '../components/Contacto.astro'; // Importación
import Footer from '../components/Footer.astro';
---

<Layout title="BYD COMPAÑY | Status Pro">
    <Navbar />
    <main>
        <div id="inicio"><Hero /></div>
        <div id="proyectos"><BentoGrid /></div>
        <Habilidades />
        <Contacto /> </main>
    <Footer />
</Layout>