---
// src/components/BentoGrid.astro
---

<section class="px-6 py-20 max-w-7xl mx-auto grid grid-cols-1 md:grid-cols-2 gap-8">
  
  <a href="https://reserva-la-bonanza.netlify.app/" target="_blank" 
     class="group bg-[#0a0a0a] border border-white/5 rounded-[3rem] overflow-hidden flex flex-col h-[500px] transition-all hover:border-purple-500/40">
    
    <div class="p-10 pb-4 relative z-10">
      <h3 class="font-syne text-4xl mb-2 group-hover:text-purple-400 transition-colors uppercase italic">reserva la bonanza</h3>
      <p class="text-gray-500 text-sm font-light tracking-[0.2em] uppercase">Agencia de Turismo con multiple servicios que su sede se encuentra en santa marta magdalena colombia  </p>
    </div>

    <div class="relative flex-1 w-full overflow-hidden">
        <img src="/proyecto-sistema.png" alt="Preview Sistema" 
             class="w-full h-full object-cover object-top opacity-80 group-hover:opacity-100 group-hover:scale-105 transition-all duration-700" />
        
        <div class="absolute inset-0 bg-gradient-to-t from-[#0a0a0a] via-transparent to-transparent"></div>
    </div>
  </a>

  <a href="https://netbryan.netlify.app/" target="_blank" 
     class="group bg-[#0a0a0a] border border-white/5 rounded-[3rem] overflow-hidden flex flex-col h-[500px] transition-all hover:border-blue-500/40">
    
    <div class="p-10 pb-4 relative z-10">
      <h3 class="font-syne text-4xl mb-2 group-hover:text-blue-400 transition-colors uppercase italic">Netflix Evolution</h3>
      <p class="text-gray-500 text-sm font-light tracking-[0.2em] uppercase">API & UI Design</p>
    </div>

    <div class="relative flex-1 w-full overflow-hidden">
        <img src="/proyecto-netflix.png" alt="Preview Netflix" 
             class="w-full h-full object-cover object-top opacity-80 group-hover:opacity-100 group-hover:scale-105 transition-all duration-700" />
        
        <div class="absolute inset-0 bg-gradient-to-t from-[#0a0a0a] via-transparent to-transparent"></div>
    </div>
  </a>

</section>